.login .custom-account form input{
    
    border: 0;
    border-bottom: 1px solid gray;
    padding: 3px;
    margin-bottom: 10px;
}
.login .custom-account form button{
    background-color: tomato;
    color: white;
}

.login .divider hr{
    width: 120px;

}

.login .social-account button{
    background-color: transparent;
}